<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>Reacter - A utility for integrating and scaling monitoring systems</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/site.js"></script>

    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" />
    <link rel="stylesheet" type="text/css" href="css/core.css" />
  </head>
  <body>
    <div class="wrapper container">
    <!-- NAVIGATION -->
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="logo-reacter-small" href="index.html"><img src="images/reacter-small.png" /></a>
          <ul class="nav">
            <li>
              <a href="/reacter/"><i class="icon-home"></i>Home</a>
            </li>
            <li>
              <a href="/reacter/overview"><i class="icon-th-list"></i>Overview</a>
            </li>
            <li>
              <a href="/reacter/docs"><i class="icon-list-alt"></i>Documentation</a>
            </li>
            <li>
              <a href="/reacter/downloads"><i class="icon-download-alt"></i>Downloads</a>
            </li>            
          </ul>
        </div>
      <!-- // -->
      </div>

      <div class="main">
        {{ content }}
      </div>

      <div class="push"></div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="span6">
            Built by system administrators and developers for all mankind.<br />
            Reacter is licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.<br />

            <ul class="footer-links">
              <li><a href="https://github.com/outbrain/reacter">GitHub</a></li>
              <li><a href="contact.html">Contact the developers</a></li>
            </ul>
          </div>

          <div class="copyright offset2 span4">
            <a class="logo-outbrain" target="_blank" href="http://www.outbrain.com">&nbsp;</a>
            <br />
            <br />
            Copyright &copy; 2012 <a target="_blank" href="http://www.outbrain.com">Outbrain, Inc.</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>